<form action="#">
	<div class="container">
		<div class="row form-group">
			<div class="col-lg-6 offset-3 sign-up-form">
				<br>
				<p class="h4 text-center">Log In</p>

				<!-- Material input email -->
				<div class="md-form">
					<i class="fa fa-envelope prefix amber-text"></i>
					<input type="email" id="materialFormRegisterEmailEx" class="form-control">
					<label for="materialFormRegisterEmailEx">Your email</label>
				</div>
				
				<!-- Material input password -->
				<div class="md-form">
					<i class="fa fa-lock prefix amber-text"></i>
					<input type="password" id="materialFormRegisterPasswordEx" class="form-control">
					<label for="materialFormRegisterPasswordEx">Your password</label>
				</div>

				<div class="text-center mt-4">
					<button class="btn btn-primary" type="submit">Log In</button>
				</div>
				<br>
				<h4>
					Don't have an account?
						<a href="/sign-up">Sign up</a>
				</h4>
				<br>
			</div>
		</div>
	</div>
</form>