<form action="#">
	<div class="container">
		<div class="row form-group">
			<div class="col-lg-6 offset-3 sign-up-form">
				<br>
				<p class="h4 text-center login">SIGN UP</p>

				<div class="login-form">
					<div class="md-form">
						<i class="fa fa-user prefix amber-text"></i>
						<input type="text" id="materialFormRegisterNameEx" class="form-control">
						<label for="materialFormRegisterNameEx">Your name</label>
					</div>

					<!-- Material input email -->
					<div class="md-form">
						<i class="fa fa-envelope prefix amber-text"></i>
						<input type="email" id="materialFormRegisterEmailEx" class="form-control">
						<label for="materialFormRegisterEmailEx">Your email</label>
					</div>

					<!-- Material input email -->
					<div class="md-form">
						<i class="fa fa-exclamation-triangle prefix amber-text"></i>
						<input type="email" id="materialFormRegisterConfirmEx" class="form-control">
						<label for="materialFormRegisterConfirmEx">Confirm your email</label>
					</div>

					<!-- Material input password -->
					<div class="md-form">
						<i class="fa fa-lock prefix amber-text"></i>
						<input type="password" id="materialFormRegisterPasswordEx" class="form-control">
						<label for="materialFormRegisterPasswordEx">Your password</label>
					</div>

					<div class="text-center mt-4">
						<button class="btn-login" type="submit">Register</button>
					</div>
					<br>
					<h4>
						Already an user?
						<a href="/log-in"><strong class="orange">Login</strong></a>
					</h4>
					<br>
					
				</div>
				<!-- Material input text -->
				
			</div>
		</div>
	</div>
</form>



