.navbar {
	opacity: 0.8;
}

.sidebar {
	background-color: white;
}

#userCardTable{
	background-color: teal;
	color: white;
}

.quest-logo {
	margin-right: 8.33%;
}

.din-font {
	font-family: DIN alternate;
	letter-spacing: 1px;
}

.simple-text {
	font-size: 50px!important;
	text-align: left!important;
	padding-left: 20px!important;
	padding-top: 16px!important;
	color: #ff9800!important;
}

.material-icons {
	color: #ff9800;
}

.logo {
	margin-top: 100px;
}

.nowrap {
  white-space: nowrap;
}

.dashboard {
	padding-right: 95px!important;
}

.dashboard-text {
	display: inline;
	text-align: left;
}

.welcome {
	margin-left: 30.64%!important;
	margin-top: 10px;
	font-size: 20px!important;
}

.navbar-form {
	font-size: 20px!important;
	margin-left: 39.7%!important;
	margin-right: 100px!important;
}

.form-control {
	font-weight: 300;
}
