//  ===================================
//  NAVBAR (HEADER)
//  ===================================
.navbar{
	background:black;
	padding:10px 10px 15px 10px;
	opacity:0.8;
}

#navbar_text{
	color:white;
	font: 15px Roboto, sans serif;
	letter-spacing:1px;
	margin: 50px 40px 0px -60px;
	text-decoration: none;
}

#navbar_input{
	font: 15px Shadows Into Light, cursive;
	font-size:30px;
	letter-spacing:2px;
	width:380px;
}

#navbar_submit{
	background:#eae9c1;
	font: bold 20px Shadows Into Light, cursive;
	letter-spacing:1px;
    margin-left: 10px;
    padding: 11px 20px;   
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.25s ease;
	&:hover {
		color:white;
		background: #1ECD97;
	} 
}

//loader 
#navbar_loader{
	display:none;
}
.onclic {
	background:black;
	height: 50px;
	width: 50px;
	border-color:#f6f3f3;
	border-width:3px;
	border-radius: 25px;
	border-left-color:#1ECD97;
	margin-left: 10px;
	animation: rotating 2s 0.25s linear infinite;
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#navbar_line{
	background:white;
	height:3px;
	margin-top:88px;
	opacity:0.8;
}

.navbar_links{
	color:white;
	font: 18px Roboto, sans serif;
	text-decoration: none;
	&:hover {
		color:pink;
	} 
}
