body,html{
	background: asset-url("alone_background.jpg") no-repeat center center fixed;
	background-size: cover;
	margin: 0;
}

//  ===================================
//  BEFORE BODY
//  ===================================
#mainWrapper{
	margin-top:110px;
}