body,html{
	background: asset-url("alone_background.jpg") no-repeat center center fixed;
	background-size: cover;
	margin: 0;
}

//  ===================================
//  BEFORE BODY
//  ===================================
#mainWrapper{
	margin-top:110px;
}

//  ===================================
//  ERROR PAGE
//  ===================================
.errorPage{
	text-align:center;
	margin:15% auto;
	background:black;
	color:white;
	padding:20px 10px;
	opacity:0.9;
	width:60%;
}