.results_platform {
	text-align: center;
}

.results_title {
	background: #79746d;
    opacity: 0.7;
    border-radius: 8px;
}

.results_card {
    margin-bottom: 20px;
    opacity: 0.8;
}

.results_cardBody {
	background: white;
	height:  150px;
}

.results_ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.results_name{
  color: #4e6d6c;
}

.results_price {
	height:30px;
}

.results_buttons {
	margin-top: 30px;
}