<div class="index-wrapper">
  <div class="container view">
    <div class="row index-logo align-items-center">
      <div class="main-logo col-lg-12">
        <%= image_tag 'logo.png', height: '240', width: '440' %>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-sm-10 offset-1">
        <h2 class="info">
          <strong>
            Cross-platform search engine! <br> Enter your search request above to find your desired product!
          </strong>          
        </h2>
      </div>
    </div>
  </div>
</div>

<div id="results"></div>

<script type="text/javascript">
  $( "form" ).submit(function( ) {
    $('#results').html("loading results. Please wait patiently...")
    $(".index-wrapper")[0].style.display = "none"
  });
</script>

