<div class="index-wrapper">
  <div class="container-fluid">
    <p class="h1">Supporting Platforms</p>
    <%= image_tag 'Qoo10.png', height: '40', width: '100' %>
    <%= image_tag 'lazada.png', height: '30', width: '80' %>
    <%= image_tag 'carousell.png', height: '30', width: '150' %>
  </div>
</div>

<div id="results"></div>

<script type="text/javascript">
  $( "form" ).submit(function( ) {
    $("#navbar_loader").addClass( "onclic");
    $("#navbar_submit")[0].style.display = "none";
    $("#navbar_loader")[0].style.display = "block";
    $(".index-wrapper")[0].style.display = "none";
  });
</script>

