<h1>Admin::Dashboard#index</h1>
<p>Find me in app/views/admin/dashboard/index.html.erb</p>

<h3>Welcome back administrator (<%= current_user.name %>) </h3>

<%= link_to 'Home', queries_path %>
<%= link_to 'Manage users', admin_users_path %>