
<!--Footer-->
<footer class="page-footer">
	<!--Footer Links-->
	<div class="container">
		<div class="row index-logo align-items-center">
			<div class="logos col-lg-2 offset-lg-3">
				<%= image_tag 'Qoo10.png', height: '40', width: '100' %>
			</div>
			<div class="logos col-lg-2">
				<%= image_tag 'lazada.png', height: '30', width: '80' %>
			</div>
			<div class="logos col-lg-2">
				<%= image_tag 'carousell.png', height: '30', width: '150' %>
			</div>
		</div>
	</div>
	<!--/.Footer Links-->
</footer>
<!--/.Footer-->
